
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myalertslider">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Myalertslider">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".SoundModeWidget"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.example.myalertslider.ACTION_SILENT"/>
                <action android:name="com.example.myalertslider.ACTION_VIBRATE"/>
                <action android:name="com.example.myalertslider.ACTION_RING"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/sound_mode_widget_info" />
        </receiver>

    </application>

</manifest>
